{% extends "links.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="site-section" data-aos="fade">
    <div class="container">
        {% if messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
<strong>Messages:</strong>
<ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
</ul>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %}
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Change Password</h2>
          <p class="color-black-opacity-5"> 
              
            Your password is now changed.</p>
            <p>You can login <a href="{% url 'account_login' %}" class="txt2">
                HERE
            </a></p>
        </div>
        {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
      </div>
      </div>
      </div>
{% endblock %}
