{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LocalMan | {% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <link rel="stylesheet" href=" {% static 'fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery-ui.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap-datepicker.css' %} ">
    
    <link rel="stylesheet" href=" {% static 'fonts/flaticon/font/flaticon.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/aos.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/rangeslider.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    
  </head>
  <body>
  
  <div class="site-wrap">
    <header>
      <nav class="navbar navbar-expand-lg  ftco-navbar-light">
        <div class="container-xl">
          <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
            <span class="flaticon flaticon-compass"></span>
            <span class="">LocalMan <small>Directory and Listing</small></span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-menu h3"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="site-menu js-clone-nav navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% block home %}{% endblock home %}" href="{% url 'index' %}">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% block about %}{% endblock about %}" href="{% url 'about' %}">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% block list %}{% endblock list %}" href="{% url 'list' %}">Listing</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% block blog %}{% endblock blog %}" href="{% url 'blog' %}">Blog</a>
              </li>

            
              {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'profile' %}"><span>Hi, {{ user.username|capfirst }}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block out %}{% endblock out %}" href=" {% url 'account_logout' %} ">Log out</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link {% block in %}{% endblock in %}" href=" {% url 'account_login' %} ">Log in</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link {% block con %}{% endblock con %}" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
            <p class="mb-0"><a href="#" class="btn btn-primary rounded"><span class="ion-ios-add"></span>+ Add Listing</a></p>
            
          </div>
        </div>
      </nav>
      
    </header>

    {% block content %}

    {% endblock content %}
      <footer class="ftco-footer">
        <div class="container-xl">
          <div class="row mb-5 pb-5 justify-content-between">
              <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2 logo d-flex">
                  <a class="navbar-brand align-items-center" href="index.html">
                  <span class="">Directone <small>Directory and Listing</small></span>
                  </a>
                  </h2>
                  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                      <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                      <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                      <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
              </div>

                <div class="col-md-6 col-lg-2">
                  <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Explore</h2>
                    <ul class="list-unstyled">
                      <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
                      <li><a href="{% url 'index' %}"><span class="fa fa-chevron-right mr-2"></span>Account</a></li>
                      <li><a href="{% url 'index' %}"><span class="fa fa-chevron-right mr-2"></span>Listing</a></li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-6 col-lg-2">
                  <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                      <li><a href="{% url 'index' %}"><span class="fa fa-chevron-right mr-2"></span>Terms &amp; Conditions</a></li>
                      <li><a href="{% url 'index' %}"><span class="fa fa-chevron-right mr-2"></span>Privacy</a></li>
                      <li><a href="{% url 'contact' %}"><span class="fa fa-chevron-right mr-2"></span>Contact Us</a></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <form action="#" method="post">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
          </div>
        </div>

        <div class="container-fluid px-0 py-5 bg-darken">
            <div class="row">
              <div class="col-12 text-md-center text-left">
                <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://colorlib.com" target="_blank" ><i class="icon-heart text-danger" aria-hidden="true"></i></a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
        </div>
      </footer>
    </div>
  
    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static 'js/jquery-migrate-3.0.1.min.js' %} "></script>
    <script src=" {% static 'js/jquery-ui.js' %} "></script>
    <script src=" {% static 'js/popper.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'js/jquery.stellar.min.js' %} "></script>
    <script src=" {% static 'js/jquery.countdown.min.js' %} "></script>
    <script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap-datepicker.min.js' %} "></script>
    <script src=" {% static 'js/aos.js' %} "></script>
    <script src=" {% static 'js/rangeslider.min.js' %} "></script>
    <script src="https://use.fontawesome.com/2421207b42.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  
    <script src=" {% static 'js/typed.js' %} "></script>
              <script>
              var typed = new Typed('.typed-words', {
              strings: ["Attractions","Stores"," Hotels", " Restaurants", "Clubs"],
              typeSpeed: 80,
              backSpeed: 80,
              backDelay: 4000,
              startDelay: 1000,
              loop: true,
              showCursor: true
              });
              </script>
  
    <script src=" {% static 'js/main.js' %} "></script>
    
    </body>
  </html>