{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LocalMan | {% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <link rel="stylesheet" href=" {% static 'fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery-ui.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap-datepicker.css' %} ">

    <link rel="stylesheet" href=" {% static 'fonts/flaticon/font/flaticon.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/aos.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/rangeslider.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-white h2 mb-0">LocalMan</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class=" 
                {% block home %}
                  
                {% endblock home %}
                   "><a href="{% url 'index' %}"><span>Home</span></a></li>
                <li class=" 
                {% block list %}
                  
                {% endblock list %}
                   "><a href="{% url 'list' %}"><span>Listings</span></a></li>
                <li class=" 
                {% block about %}
                  
                {% endblock about %}
                   "><a href="{% url 'about' %}"><span>About</span></a></li>
                <li class=" 
                {% block blog %}
                  
                {% endblock blog %}
                   "><a href="{% url 'blog' %}"><span>Blog</span></a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}"><span>Hi, {{ user.username|capfirst }}</span></a></li>
                <li class=" 
                {% block out %}
                  
                {% endblock out %}
                   "><a href=" {% url 'account_logout' %} "><span>Log out</span></a></li>
                {% else %}
                <li class=" 
                {% block in %}
                  
                {% endblock in %}
                   "><a href=" {% url 'account_login' %} "><span>Log in</span></a></li>
                <li class=" 
                {% block up %}
                  
                {% endblock up %}
                   "><a href="{% url 'account_signup' %}"><span>Sign Up</span></a></li>
                {% endif %}
                <li class=" 
                {% block con %}
                  
                {% endblock con %}
                   "><a href="{% url 'contact' %}"><span>Contact</span></a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

    {% block content %}

    {% endblock content %}

    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                  <h2 class="footer-heading mb-4">Quick Links</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                  <h2 class="footer-heading mb-4">Products</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                  <h2 class="footer-heading mb-4">Features</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                  <h2 class="footer-heading mb-4">Follow Us</h2>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <form action="#" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row pt-5 mt-5">
            <div class="col-12 text-md-center text-left">
              <p>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://colorlib.com" target="_blank" ><i class="icon-heart text-danger" aria-hidden="true"></i></a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  
    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static 'js/jquery-migrate-3.0.1.min.js' %} "></script>
    <script src=" {% static 'js/jquery-ui.js' %} "></script>
    <script src=" {% static 'js/popper.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'js/jquery.stellar.min.js' %} "></script>
    <script src=" {% static 'js/jquery.countdown.min.js' %} "></script>
    <script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap-datepicker.min.js' %} "></script>
    <script src=" {% static 'js/aos.js' %} "></script>
    <script src=" {% static 'js/rangeslider.min.js' %} "></script>
    
  
    <script src=" {% static 'js/typed.js' %} "></script>
              <script>
              var typed = new Typed('.typed-words', {
              strings: ["Attractions"," Stores"," Hotels", " Restaurants"],
              typeSpeed: 80,
              backSpeed: 80,
              backDelay: 4000,
              startDelay: 1000,
              loop: true,
              showCursor: true
              });
              </script>
  
    <script src=" {% static 'js/main.js' %} "></script>
    
    </body>
  </html>